<div class="bg jumbotron center">
  <h1>Welcome to Cottyto</h1>
  
  <h2>This is the home page for the highly anticipated Cottyto App</h2>
  
  <%= link_to "Sign up Now", new_user_registration_path, class: "btn btn-lg btn-success" %> 
</div>